<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.darkfan.dfkernel">

    <!-- 允许应用程序访问有关网络的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 允许应用程序访问有关Wi-Fi网络的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 允许常规应用程序使用Service.startForeground. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- 允许应用程序打开网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 允许为可移动存储安装和卸载文件系统。-->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!-- 允许应用程序从外部存储读取 Android 11 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!-- 允许应用程序从外部存储读取 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 允许应用程序请求安装包 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 允许应用程序写入外部存储 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- 允许访问振动器 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--适配Android R包可见性 开始-->
    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE">

            </action>
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE">

            </action>
        </intent>
    </queries>
    <!--适配Android R包可见性 结束-->

    <application android:networkSecurityConfig="@xml/dfkernel_network_security_config">

        <!-- 初始化 -->

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.darkfan.dfkernel.app.DfkernelInitializer"
                android:value="androidx.startup" />
        </provider>

        <!-- 表示当前项目已经适配了分区存储特性 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />
    </application>
</manifest>